[project]
	description = SpringMVC/ThymeLeaf/Doma WebApp ??????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/takayasu
[access "refs/for/refs/*"]
	read = group user/takayasu
	push = group user/takayasu
	label-Code-Review = -2..+2 group user/takayasu
	label-Verified = -1..+1 group user/takayasu
	rebase = group user/takayasu
	removeReviewer = group user/takayasu
	submit = group user/takayasu
[access "refs/heads/*"]
	read = group user/takayasu
	create = group user/takayasu
	push = +force group user/takayasu
	pushMerge = group user/takayasu
[access "refs/tags/*"]
	push = +force group user/takayasu
	pushTag = group user/takayasu
	pushSignedTag = group user/takayasu
